<!-- Main Header -->
    <header class="main-header header-style-two">
        <!-- Header Top -->
        <div [appHeaderTone]="color" class="header-top header-top-two">
            <div class="auto-container">
				<div class="inner clearfix">
                    <div class="top-left clearfix">
                        <div class="left-text"><img src="{{logo}}"> </div>
                        <ul class="info clearfix">
                            <li class="info_text_one"><a [appTextColor]="this.Header1.url_top1_color_font"  href="{{this.Header1.url_top1}}">{{this.Header1.url_top1_text}}</a></li>
                        </ul>
                        
                    </div>
    
                    <div class="top-right clearfix">
                        <!--Language
                        <div class="language">
                            <div class="lang-btn">
                                <span class="icon flaticon-worldwide-1"></span>
                                <span class="txt">EN</span>
                                <span class="arrow fa fa-angle-down"></span>
                            </div>
                            <div class="lang-dropdown">
                                <ul>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Italian</a></li>
                                    <li><a href="#">Chinese</a></li>
                                    <li><a href="#">Russian</a></li>
                                </ul>
                            </div>
                        </div>-->
                        <!--Social Links
                        <div class="social-links-two">
                            <ul class="clearfix">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            </ul>
                        </div>-->
						<!--<div class="social-links-two">-->
                            <ul class="info clearfix">
                                <li class="info_text_one"><a [appTextColor]="this.Header1.url_top2_color_font"  href="{{this.Header1.url_top2}}">{{this.Header1.url_top2_text}}</a></li>
                            </ul>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
		<app-header-upper [HeaderUp]="this.Header1" [Menu]="this.MenuOpt"></app-header-upper>
	</header>	
