 
<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><div class="icon"></div></div>
		<app-headers [Header1]="headerOne" [MenuOpt]="menu"></app-headers>
		
	<!-- Banner Section -->
    <section style="height:50em;" class="banner-section-two">
        <div class="main-image-layer" style="background-image: url({{this.image_carrusel}});"></div>
        <div class="main-pattern-layer" style="background-image: url(images/background/pattern-1.png);"></div>
		<owl-carousel-o class="banner-carousel-two " [options]="customOptions">
			<ng-container *ngFor="let slide of this.carrusel_slideo">
				<ng-template carouselSlide>
						<div class="slide-item">
							<div class="auto-container">
								<div class="content-box">
									<div class="content clearfix">
										<div class="inner">
											<h1>{{slide.carrusel1_title}}</h1>
											<div class="text">{{slide.carrusel1_description}}</div>
											<div class="links-box clearfix">
												<a href="{{slide.carrusel1_boton_link}}"  target="{{slide.carrusel1_boton_target}}" class="theme-btn btn-style-two"><span style="color:{{slide.carrusel1_boton_colortext}};background:{{slide.carrusel1_boton_color}};" class="btn-title">{{slide.carrusel1_boton_name}}</span></a>
											</div>
										</div>
									</div>
								</div>  
							</div> 
						</div>
				</ng-template> 
			</ng-container>  
		</owl-carousel-o>
	</section >
	<!--Welcome Section-->
    <section class="welcome-section-two">
        <div class="upper-row">
            <div class="auto-container">
                <div class="upper-container">
                	<div class="row clearfix">
                        <!--Feature Block-->
                        <div *ngFor="let tarjeta of this.tarjeta_card" class="featured-block-three col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
								<a target="{{tarjeta.card_link_target}}" href="{{tarjeta.card_link}}">
									<div class="content-box">
										<div class="icon-box"><span class="{{tarjeta.card_icon}}"></span></div>
										<div class="content">
											<div class="subtitle">{{tarjeta.card_subtitle}}</div>
											<h4><a href="#">{{tarjeta.card_title}}</a></h4>
										</div>
									</div>
									<div class="hover-box">
										<div class="inner">
											<h4><a target="{{tarjeta.card_link_target}}" href="{{tarjeta.card_link}}">{{tarjeta.card_title}}</a></h4>
											<div class="text">{{tarjeta.card_description}}</div>
										</div>
									</div>
									<div class="more-link">
										<a target="{{tarjeta.card_link_target}}" href="{{tarjeta.card_link}}"><span class="govco-icon govco-icon-right-arrow size-2x"></span></a>
									</div>
								</a>
							</div>
                        </div>

                    </div>

                    <div class="card govco-card contact-links-box">
                        <div class="inner">
                            <div [appHeaderTone]="this.card_tarjeta.contact_links_box_header_color" class="card-header govco-card-header">
                                <h4 [appTextColor]="this.card_tarjeta.contact_links_box_header_text_color">{{this.card_tarjeta.contact_links_box_header_text}}</h4>
                            </div>
							<div class="card-body">
								<ul class="info">
									<li *ngFor="let item of this.card_tarjeta.card_item;" class="clearfix">
										<table>
										<tr>
										<td valign="center" style="padding-right: 1em;">
										<span class="{{item.contact_links_box1_icono}}"></span>
										</td>
										<td>
										<strong><a class="txt" href="{{item.contact_links_box1_link1}}">{{item.contact_links_box1_titulo}}</a></strong>
										<a class="txt" href="{{item.contact_links_box1_link2}}">{{item.contact_links_box1_text}}</a>
										</td>
										</tr>
										</table>
									</li>
									
								</ul>
							</div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
	</section>
	
	<!-- Main Footer Two-->
    <footer [appHeaderTone]="this.footer.background_general" class="main-footer-two">
        <div class="auto-container" style="padding: 0;max-width: 100%;">
            <div [appHeaderTone]="this.footer.background_corner" style="width:100%;height:4em;">
					<div [appHeaderTone]="this.footer.background_content" style="height:4em;border-top:{{this.footer.top_line_grosor}}{{this.footer.top_line_color}};border-right:{{this.footer.top_line_grosor}}{{this.footer.top_line_color}};border-left:{{this.footer.top_line_grosor}}{{this.footer.top_line_color}};" class="auto-container">
					</div>
            </div>
			
        </div>

        <!--Widgets Section-->
        <div class="widgets-section">
            <div [appHeaderTone]="this.footer.background_content" class="auto-container">
                <div style="padding-top:3em;" class="row clearfix">
                    <!--Columns-->
                    <div *ngFor="let columna of this.footer.footer_up_content" class="column col-lg-4 col-md-6 col-sm-12">
                        
						<div [appHeaderTone]="columna.footer_background" style="padding-left:{{columna.footer_padding}};" *ngIf="isDraw(columna.footer_draw)" class="footer-widget about-widget">
							<b><span style="text-align:center;font-size:{{columna.footer_title_font_size}};color:{{columna.footer_color_text}};">{{columna.footer_title}}</span></b>
                            <div class="links">
								<li *ngFor="let lista of columna.footer_list">
									<a *ngIf="isLink(lista.footer_link); else sinLink" style="font-size:{{lista.footer_link_font_size}};color:{{columna.footer_color_text}};" href="{{lista.footer_link}}">{{lista.footer_link_name}}</a>
									<ng-template #sinLink>
									<span style="font-size:{{lista.footer_link_font_size}};color:{{columna.footer_color_text}};">{{lista.footer_link_name}}</span>
									</ng-template>
								</li>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
			</div>	
			<div [appHeaderTone]="this.footer.background_content_t" class="auto-container"> 
				<div style="padding-top:3em;" class="row clearfix">
                    <!--Columns-->
                    <div *ngFor="let columna of this.footer.footer_bottom_content" class="column col-lg-4 col-md-6 col-sm-12">
                        
						<div [appHeaderTone]="columna.footer_background" style="padding-left:{{columna.footer_padding}};" *ngIf="isDraw(columna.footer_draw)" class="footer-widget about-widget">
							<b><span style="text-align:center;font-size:{{columna.footer_title_font_size}};color:{{columna.footer_color_text}};">{{columna.footer_title}}</span></b>
                            <div class="address">
								<li *ngFor="let lista of columna.footer_list">
									
									<a *ngIf="isLink(lista.footer_link); else sinLinkA;" style="font-size:{{lista.footer_link_font_size}};color:{{columna.footer_color_text}};" href="{{lista.footer_link}}">
										{{lista.footer_link_name}}
									</a>
									<ng-template #sinLinkA>
									<span style="font-size:{{lista.footer_link_font_size}};color:{{columna.footer_color_text}};">{{lista.footer_link_name}}</span>
									</ng-template>
								</li>
                            </div>
							<div class="inner clearfix">
								<ul class="social-links clearfix">
								<li><span style="color:{{this.footer.footer_color_red_text}}" class="social-title">Connect with:</span></li>
								<li><a  href="{{this.footer.red_facebook}}"><span style="color:{{this.footer.footer_color_red_text}}" class="fab fa-facebook-f"></span></a></li>
								<li><a  href="{{this.footer.red_twitter}}"><span style="color:{{this.footer.footer_color_red_text}}" class="fab fa-twitter"></span></a></li>
								<li><a  href="{{this.footer.red_instagram}}"><span style="color:{{this.footer.footer_color_red_text}}" class="fab fa-instagram"></span></a></li>
								<li><a  href="{{this.footer.red_youtube}}"><span style="color:{{this.footer.footer_color_red_text}}" class="fab fa-youtube"></span></a></li>
								</ul>
							</div>
                            
                        </div>
                    </div>
					<!--Columns-->
                    <div  class="column col-lg-4 col-md-6 col-sm-12">
                        <div [appHeaderTone]="this.footer.background_content_t" class="footer-widget about-widget">
							<div class="upper-logo-box">
								<div class="logo">
									<a href="#"><img src="{{this.footer.footerF_bottom_image}}" alt=""></a>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Footer Bottom -->
        <div [appHeaderTone]="this.footer.footer_background_color"  class="footer-bottom">
            <div class="auto-container">
                <div class="inner clearfix">
                    
                    <div class="logo" style="max-width: 60%;display: inline;">
									<a href="#"><img src="{{this.footer.first_bottom_image}}" alt=""></a>
					
									<a href="#" style="margin-left:23em;"><img src="{{this.footer.second_bottom_image}}" alt=""></a>
					</div>
                    <ul class="footer-links clearfix">
                        <li><a target="{{this.footer.footer_bottom_link_target}}" style="font-size:{{this.footer.footer_bottom_link_font_size}}" href="{{this.footer.footer_bottom_link}}">{{this.footer.footer_bottom_link_name}}</a></li>
                    </ul>

                </div>
            </div>
        </div>
        
    </footer>
		
</div>
<!--End pagewrapper-->
<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon flaticon-up-arrow-angle"></span></div>
 
<router-outlet></router-outlet>	