<!-- Header Upper -->
        <div [appHeaderTone]="colorM" class="header-upper">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <!--Logo-->
                    <div class="logo-box clearfix">
                        <div class="logo"><a href="index.html" title="City Government - City Regulatory HTML Template"><img src="{{this.HeaderUp.header_logo2}}" alt="City Government - City Regulatory HTML Template" title="City Government - City Regulatory HTML Template"></a></div>
                    </div> 
					
					<app-nav [OptMenu]="this.Menu"></app-nav>

                    <!--Search Btn-->
                    <div class="search-btn search-btn-one"><button type="button" class="theme-btn search-toggler"><span class="txt">Buscar</span> <span class="icon flaticon-loupe-1"></span></button></div>

                </div>
            </div>
        </div>
<!--End Header Upper-->
