 <!--Nav-->
                    <div class="nav-outer clearfix">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span></div>

                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown" *ngFor="let item of this.OptMenu;">
										<a style="max-width:120px;" href="{{item.menu_link}}">
											{{item.menu_name}}
										</a>
										<ul *ngIf="this.isvalid(item.submenu_enable)">
											<li *ngFor="let submenu of item.submenu;">
												<a href="{{submenu.submenu_link}}">{{submenu.submenu_name}}</a>
											</li>
										</ul>
									</li>
                                </ul>
                            </div>
                        </nav>
                    </div>