@font-face {
  font-family: 'Flaticon';
  src:  url('fonts/Flaticon.eot');
  src:  url('fonts/Flaticon.eot#iefix') format('embedded-opentype'),
    url('fonts/Flaticon.ttf') format('truetype'),
    url('fonts/Flaticon.woff2') format('woff2'),
    url('fonts/Flaticon.woff') format('woff'),
    url('fonts/Flaticon.svg#Flaticon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-cell-phone:before { content: "\f100"; }
.flaticon-straight-quotes:before { content: "\f101"; }
.flaticon-blocks-with-angled-cuts:before { content: "\f102"; }
.flaticon-business:before { content: "\f103"; }
.flaticon-smartphone-call:before { content: "\f104"; }
.flaticon-e-mail-envelope:before { content: "\f105"; }
.flaticon-angle-arrow-pointing-to-right:before { content: "\f106"; }
.flaticon-down-arrow:before { content: "\f107"; }
.flaticon-up-arrow-angle:before { content: "\f108"; }
.flaticon-right-arrow-angle:before { content: "\f109"; }
.flaticon-telephone:before { content: "\f10a"; }
.flaticon-three:before { content: "\f10b"; }
.flaticon-symbol:before { content: "\f10c"; }
.flaticon-line:before { content: "\f10d"; }
.flaticon-sign:before { content: "\f10e"; }
.flaticon-delete:before { content: "\f10f"; }
.flaticon-new-email-outline:before { content: "\f110"; }
.flaticon-check-symbol:before { content: "\f111"; }
.flaticon-round:before { content: "\f112"; }
.flaticon-delete-cross:before { content: "\f113"; }
.flaticon-location:before { content: "\f114"; }
.flaticon-clipboard-with-a-list:before { content: "\f115"; }
.flaticon-shelter:before { content: "\f116"; }
.flaticon-technology:before { content: "\f117"; }
.flaticon-fax-with-phone:before { content: "\f118"; }
.flaticon-boat-anchor:before { content: "\f119"; }
.flaticon-photo:before { content: "\f11a"; }
.flaticon-people:before { content: "\f11b"; }
.flaticon-support:before { content: "\f11c"; }
.flaticon-shape:before { content: "\f11d"; }
.flaticon-cogwheel:before { content: "\f11e"; }
.flaticon-arrows:before { content: "\f11f"; }
.flaticon-play-button:before { content: "\f120"; }
.flaticon-home:before { content: "\f121"; }
.flaticon-cross:before { content: "\f122"; }
.flaticon-line-1:before { content: "\f123"; }
.flaticon-right-arrow:before { content: "\f124"; }
.flaticon-arrows-1:before { content: "\f125"; }
.flaticon-time:before { content: "\f126"; }
.flaticon-nature:before { content: "\f127"; }
.flaticon-email:before { content: "\f128"; }
.flaticon-letter:before { content: "\f129"; }
.flaticon-multimedia:before { content: "\f12a"; }
.flaticon-search:before { content: "\f12b"; }
.flaticon-correct:before { content: "\f12c"; }
.flaticon-video-camera:before { content: "\f12d"; }
.flaticon-stats:before { content: "\f12e"; }
.flaticon-arrows-2:before { content: "\f12f"; }
.flaticon-arrows-3:before { content: "\f130"; }
.flaticon-arrows-4:before { content: "\f131"; }
.flaticon-arrows-5:before { content: "\f132"; }
.flaticon-arrows-6:before { content: "\f133"; }
.flaticon-checked:before { content: "\f134"; }
.flaticon-line-2:before { content: "\f135"; }
.flaticon-truck:before { content: "\f136"; }
.flaticon-coin:before { content: "\f137"; }
.flaticon-headphones:before { content: "\f138"; }
.flaticon-shopping-bag:before { content: "\f139"; }
.flaticon-money:before { content: "\f13a"; }
.flaticon-money-1:before { content: "\f13b"; }
.flaticon-garbage:before { content: "\f13c"; }
.flaticon-placeholder:before { content: "\f13d"; }
.flaticon-heart:before { content: "\f13e"; }
.flaticon-settings:before { content: "\f13f"; }
.flaticon-link:before { content: "\f140"; }
.flaticon-printer:before { content: "\f141"; }
.flaticon-house-1:before { content: "\f142"; }
.flaticon-phone-call:before { content: "\f143"; }
.flaticon-shopping-bag-1:before { content: "\f144"; }
.flaticon-envelope:before { content: "\f145"; }
.flaticon-bars:before { content: "\f146"; }
.flaticon-remove:before { content: "\f147"; }
.flaticon-time-1:before { content: "\f148"; }
.flaticon-check:before { content: "\f149"; }
.flaticon-link-1:before { content: "\f14a"; }
.flaticon-check-1:before { content: "\f14b"; }
.flaticon-add:before { content: "\f14c"; }
.flaticon-menu:before { content: "\f14d"; }
.flaticon-anchor:before { content: "\f14e"; }
.flaticon-signs:before { content: "\f14f"; }
.flaticon-menu-1:before { content: "\f150"; }
.flaticon-comment:before { content: "\f151"; }
.flaticon-comment-1:before { content: "\f152"; }
.flaticon-arrows-7:before { content: "\f153"; }
.flaticon-calendar:before { content: "\f154"; }
.flaticon-picture:before { content: "\f155"; }
.flaticon-play-button-2:before { content: "\f156"; }
.flaticon-success:before { content: "\f157"; }
.flaticon-add-1:before { content: "\f158"; }
.flaticon-placeholder-1:before { content: "\f159"; }
.flaticon-interface:before { content: "\f15a"; }
.flaticon-up-arrow:before { content: "\f15b"; }
.flaticon-arrows-8:before { content: "\f15c"; }
.flaticon-arrows-9:before { content: "\f15d"; }
.flaticon-arrows-10:before { content: "\f15e"; }
.flaticon-close:before { content: "\f15f"; }
.flaticon-user:before { content: "\f160"; }
.flaticon-bar-chart:before { content: "\f161"; }
.flaticon-speech-bubble:before { content: "\f162"; }
.flaticon-placeholder-2:before { content: "\f163"; }
.flaticon-technology-1:before { content: "\f164"; }
.flaticon-technology-2:before { content: "\f165"; }
.flaticon-link-2:before { content: "\f166"; }
.flaticon-trophy:before { content: "\f167"; }
.flaticon-layers:before { content: "\f168"; }
.flaticon-home-1:before { content: "\f169"; }
.flaticon-interface-1:before { content: "\f16a"; }
.flaticon-bar-chart-1:before { content: "\f16b"; }
.flaticon-message:before { content: "\f16c"; }
.flaticon-maps-and-flags:before { content: "\f16d"; }
.flaticon-delete-1:before { content: "\f16e"; }
.flaticon-cancel:before { content: "\f16f"; }
.flaticon-line-chart:before { content: "\f170"; }
.flaticon-menu-2:before { content: "\f171"; }
.flaticon-like:before { content: "\f172"; }
.flaticon-bar-chart-2:before { content: "\f173"; }
.flaticon-briefcase:before { content: "\f174"; }
.flaticon-agenda:before { content: "\f175"; }
.flaticon-technology-3:before { content: "\f176"; }
.flaticon-arrows-11:before { content: "\f177"; }
.flaticon-menu-3:before { content: "\f178"; }
.flaticon-photo-1:before { content: "\f179"; }
.flaticon-settings-1:before { content: "\f17a"; }
.flaticon-calendar-1:before { content: "\f17b"; }
.flaticon-clipboard:before { content: "\f17c"; }
.flaticon-heart-1:before { content: "\f17d"; }
.flaticon-logout:before { content: "\f17e"; }
.flaticon-location-pin:before { content: "\f17f"; }
.flaticon-media-play-symbol:before { content: "\f180"; }
.flaticon-user-1:before { content: "\f181"; }
.flaticon-download-arrow:before { content: "\f182"; }
.flaticon-quality:before { content: "\f183"; }
.flaticon-quote:before { content: "\f184"; }
.flaticon-right-quote:before { content: "\f185"; }
.flaticon-hand-shake:before { content: "\f186"; }
.flaticon-suitcase:before { content: "\f187"; }
.flaticon-pie-chart:before { content: "\f188"; }
.flaticon-shield:before { content: "\f189"; }
.flaticon-security:before { content: "\f18a"; }
.flaticon-save:before { content: "\f18b"; }
.flaticon-leaf:before { content: "\f18c"; }
.flaticon-settings-2:before { content: "\f18d"; }
.flaticon-nuclear:before { content: "\f18e"; }
.flaticon-play-button-3:before { content: "\f18f"; }
.flaticon-chat-1:before { content: "\f190"; }
.flaticon-chat-2:before { content: "\f191"; }
.flaticon-placeholder-3:before { content: "\f192"; }
.flaticon-smartphone:before { content: "\f193"; }
.flaticon-mail:before { content: "\f194"; }
.flaticon-mail-1:before { content: "\f195"; }
.flaticon-next:before { content: "\f196"; }
.flaticon-back:before { content: "\f197"; }
.flaticon-next-1:before { content: "\f198"; }
.flaticon-arrow-1:before { content: "\f199"; }
.flaticon-telephone-1:before { content: "\f19a"; }
.flaticon-smartphone-1:before { content: "\f19b"; }
.flaticon-placeholder-4:before { content: "\f19c"; }
.flaticon-placeholder-5:before { content: "\f19d"; }
.flaticon-menu-4:before { content: "\f19e"; }
.flaticon-menu-5:before { content: "\f19f"; }
.flaticon-menu-6:before { content: "\f1a0"; }
.flaticon-menu-7:before { content: "\f1a1"; }
.flaticon-menu-8:before { content: "\f1a2"; }
.flaticon-menu-9:before { content: "\f1a3"; }
.flaticon-cross-shaped-target:before { content: "\f1a4"; }
.flaticon-targeting-cross:before { content: "\f1a5"; }
.flaticon-letter-x:before { content: "\f1a6"; }
.flaticon-magnifying-glass:before { content: "\f1a7"; }
.flaticon-photo-camera:before { content: "\f1a8"; }
.flaticon-photo-camera-1:before { content: "\f1a9"; }
.flaticon-information:before { content: "\f1aa"; }
.flaticon-link-3:before { content: "\f1ab"; }
.flaticon-chat-comment-oval-speech-bubble-with-text-lines:before { content: "\f1ac"; }
.flaticon-expand:before { content: "\f1ad"; }
.flaticon-share:before { content: "\f1ae"; }
.flaticon-envelope-1:before { content: "\f1af"; }
.flaticon-worldwide:before { content: "\f1b0"; }
.flaticon-worldwide-1:before { content: "\f1b1"; }
.flaticon-down-arrow-1:before { content: "\f1b2"; }
.flaticon-download:before { content: "\f1b3"; }
.flaticon-loupe:before { content: "\f1b4"; }
.flaticon-loupe-1:before { content: "\f1b5"; }
.flaticon-magnifying-glass-1:before { content: "\f1b6"; }
.flaticon-play:before { content: "\f1b7"; }
.flaticon-play-1:before { content: "\f1b8"; }
.flaticon-left-arrow:before { content: "\f1b9"; }
.flaticon-left-1:before { content: "\f1ba"; }
.flaticon-left-arrow-1:before { content: "\f1bb"; }
.flaticon-right-1:before { content: "\f1bc"; }
.flaticon-right-2:before { content: "\f1bd"; }
.flaticon-right-arrow-1:before { content: "\f1be"; }
.flaticon-right-arrow-2:before { content: "\f1bf"; }
.flaticon-parking:before { content: "\f1c0"; }
.flaticon-recycling-truck:before { content: "\f1c1"; }
.flaticon-university:before { content: "\f1c2"; }
.flaticon-school:before { content: "\f1c3"; }
.flaticon-left-quote:before { content: "\f1c4"; }
.flaticon-left-quote-1:before { content: "\f1c5"; }
.flaticon-sheriff-badge:before { content: "\f1c6"; }
.flaticon-traffic-light:before { content: "\f1c7"; }
.flaticon-statue:before { content: "\f1c8"; }
.flaticon-museum:before { content: "\f1c9"; }
.flaticon-museum-1:before { content: "\f1ca"; }
.flaticon-company:before { content: "\f1cb"; }
.flaticon-hospital-1:before { content: "\f1cc"; }
.flaticon-play-button-1:before { content: "\f1cd"; }
.flaticon-open:before { content: "\f1ce"; }
.flaticon-play-button-4:before { content: "\f1cf"; }
.flaticon-chat:before { content: "\f1d0"; }
.flaticon-mail-2:before { content: "\f1d1"; }
.flaticon-link-4:before { content: "\f1d2"; }
.flaticon-zoom-in:before { content: "\f1d3"; }
.flaticon-zoom-out:before { content: "\f1d4"; }
.flaticon-user-2:before { content: "\f1d5"; }
.flaticon-user-3:before { content: "\f1d6"; }
.flaticon-password:before { content: "\f1d7"; }
.flaticon-keypad:before { content: "\f1d8"; }
.flaticon-contact:before { content: "\f1d9"; }
.flaticon-circular-clock:before { content: "\f1da"; }
.flaticon-checklist:before { content: "\f1db"; }
.flaticon-checklist-1:before { content: "\f1dc"; }
.flaticon-city-hall-1:before { content: "\f1dd"; }
.flaticon-fire-station:before { content: "\f1de"; }
.flaticon-company-1:before { content: "\f1df"; }
.flaticon-bag:before { content: "\f1e0"; }
.flaticon-building:before { content: "\f1e1"; }
.flaticon-shield-1:before { content: "\f1e2"; }
.flaticon-hospital-2:before { content: "\f1e3"; }
.flaticon-skyline:before { content: "\f1e4"; }
.flaticon-police-station:before { content: "\f1e5"; }
.flaticon-police-station-1:before { content: "\f1e6"; }
.flaticon-traffic-control:before { content: "\f1e7"; }
.flaticon-no-turn-right:before { content: "\f1e8"; }
.flaticon-regulation:before { content: "\f1e9"; }
.flaticon-man:before { content: "\f1ea"; }
.flaticon-contract:before { content: "\f1eb"; }
.flaticon-real-estate:before { content: "\f1ec"; }
.flaticon-house:before { content: "\f1ed"; }
.flaticon-employee:before { content: "\f1ee"; }
.flaticon-balance:before { content: "\f1ef"; }
.flaticon-hospital:before { content: "\f1f0"; }
.flaticon-postcard:before { content: "\f1f1"; }
.flaticon-fax:before { content: "\f1f2"; }
.flaticon-fax-1:before { content: "\f1f3"; }
.flaticon-telephone-2:before { content: "\f1f4"; }
.flaticon-map:before { content: "\f1f5"; }
.flaticon-right:before { content: "\f1f6"; }
.flaticon-arrow:before { content: "\f1f7"; }
.flaticon-left:before { content: "\f1f8"; }
.flaticon-mall:before { content: "\f1f9"; }
.flaticon-government:before { content: "\f1fa"; }
.flaticon-mall-1:before { content: "\f1fb"; }
.flaticon-city-hall:before { content: "\f1fc"; }
.flaticon-promotion:before { content: "\f1fd"; }
.flaticon-target:before { content: "\f1fe"; }
.flaticon-promotion-1:before { content: "\f1ff"; }